<template id="publication-card">
	<article class="academic-papers-panel">
		<div class="personal-row-col col-reverse-mobile w-100 align-space-between">
			<h3 class="title"></h3>
			<a type="button" class="cite-btn"></a>
		</div>
		<h4>
			<span class="authors"></span>
			<span class="publisher"></span>
		</h4>
		<span class="description"></span>
		<div class="personal-row space-between align-items-center mobile-row-breaker">
			<div class="publication-details">
				<span class="status"></span>
				<span class="year"></span>
				<span class="type"></span>
			</div>
			<div class="inner-publication-card-div">
				<a class="download-btn acadmic-card-margin-fix acadmic-download-btn">Download</a>
				<a class="read-online-btn acadmic-card-margin-fix">Read Online</a>
			</div>
		</div>
	</article>
</template>

<template id="project-panel">
	<div class="academic-papers-panel">
		<h3 class="title"></h3>
		<span class="description"></span>
		<div class="personal-row space-between card-footer">
			<div class="w-100 flex-btn">
				<a class="download-btn"></a>
			</div>
		</div>
	</div>
</template>

<template id="project-section">
	<div class="project-panel">
		<h3 class="title"></h3>
		<span class="description"></span>
		<div class="personal-row space-up-20 mobile-paddig-left action_buttons">
			<div class="space-around"><a href="" class="download-btn">Explore project</a></div>
			<div class="space-around"><a href="" class="secondary-btn">See example</a></div>
		</div>
	</div>
</template>

<template id="resource">
	<article class="academic-papers-panel">
		<div class="personal-row-col col-reverse-mobile w-100 align-space-between">
			<h3 class="title"></h3>
			<a class="cite-btn">
				<svg
					width="16"
					height="14"
					viewBox="0 0 16 14"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M11.9796 10.4249C12.221 10.36 12.446 10.2505 12.6272 10.0615C12.8071 9.87389 12.9067 9.64659 12.9654 9.41093C13.0705 8.98875 13.0704 8.40647 13.0703 7.70001C13.0703 7.67591 13.0703 7.65167 13.0703 7.62729L13.0703 7.42695C13.0703 6.59853 12.3987 5.92695 11.5703 5.92695L9.56874 5.92695C9.2926 5.92695 9.06874 5.70309 9.06874 5.42695L9.06874 1.14181C9.06874 0.865667 9.2926 0.641809 9.56874 0.641809L15 0.641809C15.2761 0.641809 15.5 0.865667 15.5 1.14181L15.5 6.42695C15.5 8.56894 15.2613 10.2046 14.6801 11.3435C14.1211 12.4388 13.2304 13.106 11.7876 13.3002C11.5873 13.3272 11.356 13.158 11.356 12.8588L11.356 11.0286C11.356 10.7975 11.5567 10.5386 11.9796 10.4249Z"
						fill="white"
						stroke="#5A67D8"
					/>
					<path
						d="M4.49845 7.42695C4.49845 6.59853 3.82688 5.92695 2.99845 5.92695L0.999994 5.92695C0.723852 5.92695 0.499994 5.70309 0.499994 5.42695L0.499994 1.14181C0.499994 0.865668 0.723853 0.641809 0.999995 0.641809L6.42755 0.641809C6.70369 0.641809 6.92755 0.865667 6.92755 1.14181L6.92755 6.42695C6.92755 8.56896 6.68899 10.2046 6.1079 11.3435C5.54904 12.4389 4.65847 13.106 3.21579 13.3002C3.0155 13.3272 2.78421 13.158 2.78421 12.8588L2.78421 11.0286C2.78421 10.7975 2.98491 10.5386 3.4078 10.4249C3.64917 10.36 3.87418 10.2505 4.05538 10.0615C4.23531 9.87389 4.33492 9.64659 4.39358 9.41093C4.49868 8.98875 4.49858 8.40647 4.49846 7.7C4.49846 7.67591 4.49845 7.65167 4.49845 7.62729L4.49845 7.42695Z"
						fill="white"
						stroke="#5A67D8"
					/>
				</svg>
				Cite
			</a>
		</div>
		<h4 class="authors"></h4>
		<span class="card-description-resource"></span>
		<span class="recommend-promo"></span>
		<div class="personal-row space-between align-items-center mobile-row-breaker links"></div>
		<div class="w-100 acadmic-parms-row details">
			<span class="year"></span>
			<span class="type"></span>
		</div>
	</article>
</template>

<template id="research-project">
	<div class="research">
		<div class="research-title space-between">
			<h3 class="content-title"></h3>
			<p class="research-duration"></p>
		</div>
		<hr class="blue-hr" />
		<div class="content-text"></div>

		<div class="team-section">
			<div class="collapsing-section-title">
				<div class="team-title space-between">
					<p class="content-subtitle"></p>
					<svg
						class="moreLessButton"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 13 8"
						width="13"
						height="8"
					>
						<path
							fill="black"
							d="M 1.94516 7.41 L 6.53516 2.83 L 11.1252 7.41 L 12.5352 6 L 6.53516 0 L 0.535156 6 L 1.94516 7.41 Z"
						/>
					</svg>
				</div>
				<hr />
			</div>
			<div class="collapsing-section open-section">
				<div class="team-content-section"></div>
			</div>
		</div>

		<div class="links-section">
			<div class="collapsing-section-title">
				<div class="relevant-links-title space-between">
					<p class="content-subtitle">Relevant Links</p>
					<svg
						class="moreLessButton"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 13 8"
						width="13"
						height="8"
					>
						<path
							fill="black"
							d="M 1.94516 7.41 L 6.53516 2.83 L 11.1252 7.41 L 12.5352 6 L 6.53516 0 L 0.535156 6 L 1.94516 7.41 Z"
						/>
					</svg>
				</div>
				<hr />
			</div>
			<div class="relevant-links-content-section collapsing-section open-section"></div>
		</div>
	</div>
</template>

<template id="research-team-member">
	<div class="member-card">
		<div class="member-properties">
			<img
				class="member-pesonal-img member-link-icon"
				src="img/research/person-image.png"
				alt="personal-image"
			/>
			<h5 class="member-details"></h5>
		</div>
		<div class="member-properties role-properties">
			<img
				class="role-pesonal-img role-link-icon"
				src="img/research/suitcase-image.png"
				alt="personal-image"
			/>
			<p class="member-role"></p>
		</div>
		<div class="member-link-icons">
			<a class="member-link website">
				<img class="member-link-icon" src="img/research/website.png" alt="personal website" />
			</a>
			<a class="member-link google-scholar">
				<img
					class="member-link-icon"
					src="img/research/google-scholar.png"
					alt="google scholar link"
				/>
			</a>
			<a class="member-link linkedin">
				<img class="member-link-icon" src="img/research/linkedin.png" alt="linkedin link" />
			</a>
		</div>
	</div>
</template>

<template id="blog-card">
	<div class="academic-papers-panel">
		<h3 class="blog-title"></h3>
		<p class="description"></p>
		<div class="personal-row space-between align-items-center mobile-row-breaker">
			<div class="w-100">
				<span class="blog-data"></span>
			</div>
			<div class="w-100 flex-end align-items-center mobile-row-spacer">
				<a class="download-btn">Read More</a>
			</div>
		</div>
	</div>
</template>

<template id="next-blog-post-card">
	<div class="academic-papers-panel next-blog-card-size">
		<div class="personal-col w-100 next-post-box-title">
			<h3 class="title"></h3>
			<div class="meta-blog-next-post-time-element meta-blog-post-title subtitle"></div>
			<h5 class="description"></h5>
			<div class="w-100 flex-end align-items-center mobile-row-spacer">
				<a class="download-btn">Read More</a>
			</div>
		</div>
	</div>
</template>
